<div class="py-3 px-3 bg-light-dark rounded-top-sm-bottom-md">
  <div class="post card card-rounded bg-white">
    <div class="card-header pb-1 pt-2 bg-dark rounded-sm">
      <h3>Welcome to the user dashboard {{username}}</h3>
    </div>
  </div>

  <div class="post card card-rounded bg-white">
    <div class="card-header pb-1 pt-2 bg-dark rounded-top-sm">
      <h4>Make a Post:</h4>
    </div>
    <div class="card-body mr-1">
      <form action="/post" method="post" class="new-post-form">
        <div class="form-group mt-0">
          <div class="mb-1">
            <label for="title-new">Title</label>
          </div>
          <div>
            <input
              type="text"
              name="title"
              id="title-new"
              class="title-new w-50"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="mb-1">
            <label for="content-new">Content</label>
          </div>
          <div>
            <textarea
              id="content-new"
              name="content-new"
              class="m-0 p-2 w-100 content-new"
            ></textarea>
          </div>
        </div>
        <div class="form-group pt-2">
          <button type="submit" class="btn btn-md btn-light-dark">Make a Post</button>
        </div>
        <div
          class="form-group bg-danger rounded-sm p-1 pt-2 pl-2 text-white hidden"
          id="post-error"
        >
          <h5 class="message"></h5>
        </div>
      </form>
    </div>
  </div>

  <div class="post card rounded-top-sm-bottom-md bg-white mb-1">
    <div class="card-header pb-1 pt-2 bg-dark rounded-top-sm">
      <h3>Your Discussions:</h3>
    </div>
    <div class="card-content px-3 pt-0 pb-3">
      {{#if posts.length}}
        {{#each posts as |post|}}
          <div
            data-id="{{post.id}}"
            id="post-{{post.id}}"
            class="post card card-clickable rounded-sm pb-1 mb-1 mt-4"
            style="outline: 1px solid var(--dark);"
            onclick="window.location.href='/post/{{post.id}}'"
          >
            <div class="card-header pb-1 pt-2 bg-dark rounded-top-sm">
              <h4>{{post.title}}</h4>
            </div>
            <div class="card-body pt-3 mr-1">
              <p class="mb-1">{{post.content}}</p>
            </div>
            <hr />
            <div class="card-body py-0 mr-1">
              <p class="my-3">was posted on
                {{formatDate post.date_created}}</p>
            </div>
            <div class="ml-2 my-1">
              <button
                data-id="{{post.id}}"
                class="btn btn-md btn-light-dark mr-1 edit-btn"
                onclick="event.stopPropagation(); document.querySelector('#form-divider-{{post.id}}').classList.remove('hidden'); document.querySelector('#post-{{post.id}}').removeAttribute('onclick');"
              >Edit Post</button>
              <button
                data-id="{{post.id}}"
                class="btn btn-md btn-danger delete-btn"
                onclick="event.stopPropagation();"
              >Delete Post</button>
            </div>
            <hr id="form-divider-{{post.id}}" class="mt-4 hidden" />
            <div class="mx-2 pt-0">
              <form
                action="/post"
                method="post"
                class="edit-post-form hidden"
                data-id="{{post.id}}"
                data-update="update-form-{{post.id}}"
              >
                <div class="form-group mt-0">
                  <div class="mb-1">
                    <label for="title-edit-{{post.id}}">Title</label>
                  </div>
                  <div>
                    <input
                      type="text"
                      name="title-edit-{{post.id}}"
                      id="title-edit-{{post.id}}"
                      class="title-edit-{{post.id}} w-50"
                      value="{{post.title}}"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="mb-1">
                    <label for="content-edit-{{post.id}}">Content</label>
                  </div>
                  <div>
                    <textarea
                      name="content-edit-{{post.id}}"
                      id="content-edit-{{post.id}}"
                      class="content-edit-{{post.id}} m-0 p-2 w-100"
                    >{{post.content}}</textarea>
                  </div>
                </div>
                <div class="form-group pt-2">
                  <button
                    type="submit"
                    class="btn btn-md btn-light-dark mr-1"
                    data-update="update-{{post.id}}"
                  >Update</button>
                  <button
                    type="button"
                    class="btn btn-md btn-danger"
                    onclick="event.stopPropagation(); this.closest('.edit-post-form').classList.add('hidden'); document.querySelector('#form-divider-{{post.id}}').classList.add('hidden'); document.querySelector('#post-{{post.id}}').setAttribute('onclick', 'window.location.href=\'/post/{{post.id}}\'');"
                  >Cancel</button>
                </div>
                <div
                  class="form-group bg-danger rounded-sm p-1 pt-2 pl-2 text-white hidden"
                  id="edit-error"
                >
                  <h5 class="message"></h5>
                </div>
              </form>
            </div>
          </div>
        {{/each}}
      {{else}}
        <p class="mb-1 mt-3">You haven't made any posts.</p>
      {{/if}}
    </div>
  </div>
</div>

<script src="/js/dashboard.js"></script>